// Example Stylus file
// All changes are detected and automatically compiled into CSS

footer
  margin-top: 45px
  padding-top: 35px
  border-top: 1px solid #E5E5E5

.nav-list li
  cursor: pointer

#messages
  height: 500px
  overflow: scroll
  border: 1px solid #ccc
  margin: 10px
  padding: 2px 10px

#input
  margin: 10px
