// Example Stylus file
// All changes are detected and automatically compiled into CSS

@import url(http://fonts.googleapis.com/css?family=Raleway:200)


body
  color: #333
  font-size: 14px
  padding-bottom: 0px

.brand
  span
    font-size: 25px
    font-family: 'Raleway', sans-serif

#welcome
  display: none;

#roster
  font-size: 12px
  color: #888
  text-transform: uppercase
  font-weight: bold
  letter-spacing: 1px
  padding: 15px 0px

#channel
  font-family: 'Raleway', sans-serif
  h1
    color: #666
    text-transform: uppercase
    font-weight: bold
    letter-spacing: 1px
    font-size: 35px

#chat
  position: relative
  border-left: 1px dotted #ccc

#messages
  overflow: scroll
  padding: 10px

.message
  .nick
    font-size: 12px
    color: #888
    text-transform: uppercase
    font-weight: bold
    letter-spacing: 1px

#input
  position: absolute
  bottom: 0px
  left: 0px
  padding: 0px 10px

  input
    width: 400px

.embed
  font-size: 11px
  width: 70%
  padding: 5px

@media (max-width: 767px)
  #roster
    border-bottom: 1px dotted #ccc

  #chat
    border-left: none

  #messages
    padding: 10px 0px
  
  #input
    input
      width: 250px

