!!! 5
html(lang="en")
  head
    != SocketStream
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Lalo
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href='#')
            span Lalo
            i.icon-comment

    .container
      .row
        .span10.offset1
          #messages
      .row
        .span10.offset1
          #input

      footer.footer
