!!! 5
html(lang="en")
  head
    != SocketStream
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Lalo
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          .row-fluid
            .span12
              a.brand(href='#')
                span Lalo

    .container-fluid
      .row-fluid
        .span12
           #welcome
      .row-fluid
        .span3
          #channel
          #roster
        .span9
          #chat.row-fluid
            .span12
              #messages
              #input
