h1 Lalo, IRC over WebSockets
a(href="http://i.imgur.com/eGqqjSY.png", target='_blank')
  img(src="http://i.imgur.com/eGqqjSY.png")
p.lead Join a room using the URL path, that easy.
p 
  small For example, to join #lalo go to: 
    a(href="http://lalo-g7stltno.dotcloud.com/lalo", target="_blank") http://lalo-g7stltno.dotcloud.com/lalo
p Lalo is open source, more info and the code here: 
  a(href="https://github.com/malditogeek/lalo") https://github.com/malditogeek/lalo
p
  a.btn.btn-large.btn-primary(href="/auth/twitter") Connect with Twitter
